<header class="d-flex align-items-center justify-content-between">
    <h1 class="title">Tu disqueria</h1>
    <div class="d-flex align-items-center">
        <button class="btn btn-warning m-2">Login</button>
        <button class="btn btn-warning m-2">Register</button>
    </div>
    
</header>