<header class="d-flex align-items-center justify-content-between">
    <a href="/"><h1 class="title">Tu disqueria</h1></a>
    <div class="d-flex align-items-center">
        <a href="/login"><button class="btn btn-warning m-2">Login</button></a>
        <a href="/register"><button class="btn btn-warning m-2">Register</button></a>
    </div>
    
</header>